

.userContainer {
  width: 100%;
  display: flex;

  justify-content: space-between;
  &__right {
    width: calc(30% - 10px);
    min-height: 80vh;
    &__user-welcome {
      display: flex;
      align-items: center;
      height: 100px;
      &__header-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        img {
          width:100%;
        }
      }
    }
    .mat-card:not(:first-child) {
      margin: 6px 0;
    }
    .mat-card.mat-card-header {
      display: flex;
      align-items: center;
      .mat-card-header-text {
        
        .mat-card-title {
          display: flex;
          align-items: center;
          margin:0;
        }
      }
    }
  }

 


    &__left {
    width: calc(70% - 10px);
    .tabsContainer {
      min-height: 80vh;
    }
  }
}
.imgInput {
  img {
    width:30%;
  }
  input {
    display: none;
    height: 44px;
  }
}

.userInfo {
  width: 50%;
  margin: 5px 5px 5px 2px;
  .mat-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
}
.double {
  width: 99%;
  display: inline-flex;
  .mat-card-header {
    width: 50%;
    margin-right: 15px;
  }
  .fullwidth {
    width: 100%;
    margin-right: 15px;
  }
}
  .userCardTitle {
    margin-bottom: 0 !important;
  }

  .accent {
    font-size: 80%;
    font-weight: 700;
  }
// .mat-button {
//   width: 20px !important;
//   .mat-button-ripple.mat-ripple, .mat-button-focus-overlay.mat-button-focus-overlay {
//     width: 20px;
//   }
// }

.editIcon {
  font-size: 16px;
}

.imgContainer {
  img {
    width: 100px;
  }
}

.theFilter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .cardPlaceholder {
    width: 32%;
    max-width: 280px;
  }
}

.example-card {
  min-width: 200px;
  margin: 3px;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: contain !important;
}

