<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<mat-table class="" [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let user ">{{user.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user  ">{{user.firstname}}</mat-cell>
    
  </ng-container>
  <ng-container matColumnDef="addsponsor">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ask to be your sponsor</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let user ">

      <add-sponsor-modal *ngIf="user.sponsor && user.id !== loggedInUserId" [data]="user" [btnText]="ask" ></add-sponsor-modal>

    </mat-cell>
  
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let user ">{{user.role}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="deleteuser" >
    <mat-header-cell *matHeaderCellDef >Delete user</mat-header-cell>
     <!-- (click)="userData(user, i)" -->
    <mat-cell class="delete-cell" *matCellDef="let user; let i = index"><app-modal [data]="user" [btnText]=""></app-modal></mat-cell>
  </ng-container>

  <ng-container matColumnDef="setadmin">
    <mat-header-cell *matHeaderCellDef>Set user as admin</mat-header-cell>
    <!-- (click)="userData(user, i)" -->
    <mat-cell class="setRole-cell" *matCellDef="let user">
      <mat-slide-toggle [checked]="user.role == 'Admin' ? true : false" (change)="setUserRole($event, user.id)"></mat-slide-toggle>
    </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
 
  <mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></mat-row>

</mat-table>
<mat-paginator  *ngIf="userCount > 5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>