.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 300px;
  .sidenav {
    display: flex;
    flex-flow: column;
    width: 300px;
  }
}
.portal-view {
  width: 90%;
  margin: 30px auto 0;
  // display: flex;
}
 
.btnMenu {
  cursor: pointer;
  position: relative;
  top: 20px;
  left: 20px;
  // min-width: 20px;
  // width: 20px;
  // height: 15px
  
}


