.listName {
  cursor: pointer;
}



div {
  font-family: sans-serif;
  p {
    text-align: left;
  }
}
.userOverlayBox {
  position: relative;
  .btnExit {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .dialog-content {
    display: flex;
    justify-content: space-between;
      img {
        width: 20%
      }
    .aboutUser {
      width: 70%;
      div {
        display: flex;
        flex-flow: column;
      }

    }
  }
}


